.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  
  .bannerImage {
    width: 100%;
    height: auto;
    max-height: 400px; /* Ajusta el alto máximo según necesites */
    object-fit: cover;
  }
}
